.ProjectDetailsContainerWrapper{
    background-color: rgba(106, 25, 149, 0.142);
    min-height: 100vh;
    padding: 40px;
    border-radius: 30px;
    max-width: 900px;
    margin: auto;
}
.details_image_name{
    /* background-color: rgb(47, 45, 45); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail_img{
    width: 120px;
    border-radius: 10px;
}
.detail_status{
margin-top: 20px;
}
.detail_name{
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(225, 225, 225);
}
.detal_text_status{
    font-weight: 700px;
}
.detail_status_txt{
    background-color: rgb(255, 0, 0);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    width: 75px;
    text-align: center;
    height: 30px;
    margin-top: 10px;
}
.detail_discription{
    margin-top: 40px;
}
.details_date{
    margin-top: 20px;
    color: gray;
}

.details_social_links{
 display: flex;
 gap: 50px;
 margin-top: 40px;
 font-size: 23px;
 color: #fb1aff;
}
.social_link:hover{
    box-shadow: 0 0 20px rgb(104, 3, 111);
 
}

.detail_connectWallet_btn_div{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.detail_connect_wallet_btn{
    border: 3px solid rgb(247, 0, 255);
    padding: 7px;
    text-shadow: 0 0px 10px #fb1aff;
    color: rgb(247, 0, 255);
    font-size: 1rem;
    box-shadow: 0 0 20px rgb(255, 0, 230);
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    
}

.detail_connect_wallet_btn:hover{
    box-shadow: 0 0 40px rgb(255, 0, 230);
    text-shadow: 0 0px 20px #fb1aff;

}