.card{
    background-color: rgba(41, 23, 97, 0.421);
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}
.card:hover{
    background-color: rgba(54, 35, 71, 0.216);
    transition:all 0.9s;
    scale: 1.02;
}
.card_container{
display: flex;
flex-direction: column;
gap: 20px;
}


/* IMAGE DISCRIPTION CONTAINER */
.img_discrption_container{
    /* background-color: rgb(64, 93, 93); */
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}
.pro_img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

#project_name{
    font-size: 1.8rem;
    font-weight: 700;
    transition:all 0.5s;
    cursor: pointer;

}
#project_name:hover{
    color: rgb(39, 26, 143);
}
.status{
    background-color: rgba(213, 3, 3, 0.911);
    width: fit-content;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: .7rem;
}
.dicription{
    color: rgb(210, 210, 210);
    font-size: .9rem;
    line-height: 20px;
    margin-top: 5px;
}

/* TOTAL RISE AND PUBLIC OR PRIVATE CONTAINER */
.total_rice_container{
    background-color: rgba(24, 2, 22, 0.562);
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    padding: 5px;
    font-size: .8rem;
}
.total_raise_amount{
margin: 0px;
padding: 0px;
}
.public_or_private{
color: rgb(204, 203, 204);
font-weight: bold;
}
.progrss_bar{
    background-color: rgb(18, 18, 18);
    border-radius: 5px;

}
.raised_wapper{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 700;
    color: rgb(230, 230, 230);
    background-color: rgba(24, 2, 22, 0.562);
    border-radius: 7px;
    padding: 5px;
    font-size: .8rem;
}
.socia_links_and_status{
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: .8rem;
    color: rgb(212, 212, 212);

}