.apply{
    background: linear-gradient(300deg, rgba(8, 8, 102, 0.219) 17%, rgba(3, 17, 97, 0.281) 82%);
    /* height: 100vh; */
    /* max-width: 1200px; */
    color: white;

    min-height: 100vh;
}